@model IEnumerable<MedicalOffice.ViewModels.AppointmentSummaryVM>

@{
    ViewData["Title"] = "Appointment Summary";
}

<h2>Appointment Summary</h2>

<form asp-controller="Report" asp-action="AppointmentSummary" method="get">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfAppointments)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalExtraFees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaximumFeeCharged)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfAppointments)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalExtraFees)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaximumFeeCharged)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PagingNavBar" />
</form>
